<div class="card">
  <div class="card-header">
    <%= gettext "Edit Photo Details" %>
  </div>
  <%= render "form.html", changeset: @changeset,
                          action: photo_album_photo_path(@conn, :update, @photo_album, @photo) %>
</div>
