<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Altnation!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="navbar-fixed sidebar-nav">
    <%= render "header.html", conn: @conn %>
    <%= render "sidebar.html", conn: @conn %>

    <!-- Main content -->
    <main class="main">
      <%= render "breadcrumbs.html", conn: @conn, view_module: @view_module, view_template: @view_template %>

      <div class="container-fluid">
        <%= render "alerts.html", conn: @conn %>
        <%= render @view_module, @view_template, assigns %>
      </div>
      <!-- /.conainer-fluid -->
    </main>

    <%= render "footer.html", conn: @conn %>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
