<img
  src="<%= HelheimWeb.Avatar.url_with_unicorn({@user.avatar, @user}, :large, Guardian.Plug.current_resource(@conn)) %>"
  class="img-thumbnail img-fluid d-block mb-1"
  alt="<%= @user.username %>"
>
