$('#photos').append('<%= javascript_escape render("thumb.html", conn: @conn, user: @user, photo_album: @photo_album, photo: @photo) %>');
$('#photo-space-used').replaceWith('<%= javascript_escape render(HelheimWeb.PhotoAlbumView, "space_used.html", conn: @conn, user: @user) %>');
