<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= gettext "Photos" %></li>
</ol>

<div class="card-group card-group-photos" id="photos">
  <%= for photo <- @photos.entries do %>
    <%= render HelheimWeb.PhotoView, "thumb.html", conn: @conn, photo: photo %>
  <% end %>
</div>

<%= pagination_links @conn, @photos %>
