<a href="<%= @href %>" class="d-flex mr-1"<%= if assigns[:external] do %> target="_blank" rel="noopener"<% end %>>
  <%= if assigns[:image_url] do %>
    <img src="<%= @image_url %>" class="rounded" alt="" width="64" height="64">
  <% else %>
    <div class="song-cover-placeholder rounded"><i class="fa <%= assigns[:icon] || "fa-music" %>"></i></div>
  <% end %>
</a>
