<div class="media mb-1">
  <%= render "_cover.html", conn: @conn, song: @song %>
  <div class="media-body">
    <%= link @song.title, to: song_path(@conn, :show, @song) %>
    <br>
    <small class="text-muted"><%= @song.artist_name %></small>
    <br>
    <%= comment_count_badge @song %>
    <%= if assigns[:listen_count] do %>
      <%= listen_count_badge @listen_count %>
    <% end %>
  </div>
</div>
