$menu-item-color: $text-light;

$menu-item-hover-background-color: $grey-dark;
$menu-item-hover-color: $white;

$menu-item-active-background-color: $grey-dark;
$menu-item-active-color: $white;

$menu-label-color: $grey-lighter;
