<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link gettext("Your Blog Posts"), to: public_profile_blog_post_path(@conn, :index, Guardian.Plug.current_resource(@conn)) %></li>
  <li class="breadcrumb-item active"><%= gettext "Edit Blog Post" %></li>
</ol>

<div class="card">
  <div class="card-header">
    <%= gettext "Edit Blog Post" %>
  </div>
  <%= render "form.html", changeset: @changeset,
                          action: blog_post_path(@conn, :update, @blog_post) %>
</div>
