.rangeslider__handle {
  border-radius: 22px;
  min-width: 72px;
  line-height: 42px;
  text-align: center;
  color: black;

  &:after {
    background: 0;
  }
}

.rangeslider__fill {
  background: $brand-primary;
}
