<div class="comment" data-id="<%= @comment.id %>">
  <div class="d-flex flex-row justify-content-between mb-1">
    <div>
      <%= user_link_with_avatar_and_badge @comment.author %>
    </div>
    <div class="hidden-xs-down">
      <small>
        <%= time_ago_in_words @comment.inserted_at %>
      </small>
    </div>
  </div>
  <div class="embeds mentionable">
    <%= text_to_html @comment.body %>
  </div>
  <%= Helheim.CommentView.delete_comment_button(@conn, @comment) %>
  <hr>
</div>
