@import "~csshake/scss/tools";
// Here you can add other styles

body:not(.top-nav) {

    .sidebar {

        ul.nav {
            width: $sidebar-width - 16px !important;
        }
    }
}

body.app-signed-in {
  background-image: url('/images/body_bg_02.png');
}

body.app-signed-out {
  background-image: url('/images/body_bg_02.png');

  .logo-text {
    height: 75px;
  }
}

a {
  word-wrap: break-word;
}

.img-thumbnail .form-control {
  border: none;
  border-radius: 0;
  background-color: $thumbnail-border-color;
}

.img-thumbnail-with-form-control {
  padding: 0;
}

.btn {
  cursor: pointer;
}

label {
  font-weight: bold;
}

.avatar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 190px;
  overflow: hidden;

  img {
    width: 50px;
    margin: 0 1rem 1rem 0;
  }
}

form.link {
  display: inline;
}

.breadcrumb {
  @include media-breakpoint-down(sm) {
    .breadcrumb-item.active { display: none; }
  }
}

.blog-post-title {
  font-family: 'Pirata One', cursive;

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

.blog-post-body {
  color: darken($body-color, 10);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  max-width: 60rem;
  text-align: justify;
}

.comment .img-avatar {
  height: 25px;
  margin-left: -0.5rem;
  margin-right: 0.2rem;
}

.img-avatar {
  height: 25px;
}

.conversation {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  .message {
    border-bottom: 1px dotted $gray-lighter;
    display: flex;
    padding-top: 1rem;
  }

  .img-avatar {
    float: left;
    margin-right: 1rem;
  }

  .message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .message-content {
    width: 100%;
  }

  .message-timestamp {
    color: $gray-light;
  }

  .message-me {
    flex-direction: row-reverse;

    .img-avatar {
      float: right;
      margin-left: 1rem;
    }

    .message-header {
      flex-direction: row-reverse;
    }
  }
}

.card-group-photos {
  .card {
    background-color: $gray-light;
    border-radius: 0px;
    max-width: 200px;
    min-width: 200px;
    margin: 1rem;

    &:first-of-type {
      margin-left: 0;
    }

    .card-block {
      padding: 0.5rem;
    }

    .username {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-text {
      font-size: 0.8em;
      margin-top: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img.img-photo {
      border: 1px solid $gray;
      border-radius: 0px;
      transition: 0.1s ease-in-out;

      &:hover {
        border-color: $brand-primary;
        transform: scale(1.1, 1.1);
      }
    }

    img.img-avatar {
      margin-right: 0.5rem;
      width: 20px;
    }
  }

  @include media-breakpoint-down(xs) {
    .card {
      margin: 1rem auto !important;
    }
  }
}

.dropzone {
  background-color: $gray-lighter;
  border: 1px dashed $gray;
  min-height: 185px;
  text-align: center;
  padding: 1rem;

  .dz-preview {
    background: transparent !important;
  }
}
.dropzone .dz-preview .dz-progress .dz-upload {
  background: $brand-primary !important;
}

.text-break-up {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}

.card .list-group a:hover {
  background-color: $gray-dark;
}

.card-header .img-avatar {
  max-height: 30px;
}

.card-block p:last-of-type {
  margin-bottom: 0px;
}

hr {
  border-color: $gray;
}

a .badge:hover {
  color: $brand-primary;
}

.embeds {
  .embed-responsive {
    max-width: 400px;
  }
}

code {
  background-color: $body-color;
  color: $gray-dark;
}

.dropdown-menu-notifications, .dropdown-menu-unread-messages {
  width: 300px;
  .dropdown-item {
    white-space: normal;
  }
}

.tribute-container ul {
  background-color: $gray-dark;
  color: $body-color;
  border-color: $gray-lighter;
  box-shadow: none;

  li {
    border-color: $gray-lighter;
  }

  strong {
    color: $brand-primary;
  }

  li.highlight {
    background-color: $brand-primary;
    color: $gray-dark;
  }
}

.card .table {
  border-bottom: 1px solid $table-border-color;
}

.card.card-dark {
  background-color: $gray;
}

.donor-icon {
  height: 14px;
}

.mentionable {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mod_message {
  border-left: 3px solid $brand-warning;
  padding-left: $spacer;

  h5 {
    color: $brand-warning;
  }
}

.pell-content {
  background-color: $white;
  color: $black;
}

@import "calendar_events";
