import Config

config :waffle,
  bucket: "my-frankfurt-bucket"

config :ex_aws,
  access_key_id: "my_access_key_id",
  secret_access_key: "my_secret_access_key",
  region: "eu-central-1",
  s3: [
    scheme: "https://",
    host: "s3.eu-central-1.amazonaws.com",
    region: "eu-central-1"
  ]

config :helheim, :stripe,
  public_key: "pk_test_abababababababababababab"
config :stripity_stripe,
  secret_key: "sk_test_abababababababababababab"

config :helheim, :recaptcha,
  public_key: "RECAPTCHA_PUBLIC_KEY",
  secret: "RECAPTCHA_PRIVATE_KEY"

# Note: Spotify no longer allows "localhost" in redirect URIs - use the
# 127.0.0.1 loopback form and browse the dev site via http://127.0.0.1:4000
# when testing the connect flow.
config :helheim, :spotify,
  client_id: "SPOTIFY_CLIENT_ID",
  client_secret: "SPOTIFY_CLIENT_SECRET",
  redirect_uri: "http://127.0.0.1:4000/spotify_account/callback"
