<h1 class="mb-2">
  <img
    src="<%= Helheim.Avatar.url({@user.avatar, @user}, :tiny) %>"
    class="rounded"
    alt="<%= @user.username %>"
  >
  <%= @user.username %>
  : <%= gettext "Guest Book" %>
</h1>

<%=
  render Helheim.CommentView,
         "comments.html",
         conn: @conn,
         comments: @comments,
         pagination: true,
         post_path: public_profile_comment_path(@conn, :create, @user) %>
