<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link @user.username, to: public_profile_path(@conn, :show, @user) %></li>
  <li class="breadcrumb-item active"><%= gettext "Guest Book" %></li>
</ol>

<%=
  render Helheim.CommentView,
         "comments.html",
         conn: @conn,
         comments: @comments,
         pagination: true,
         post_path: public_profile_comment_path(@conn, :create, @user) %>
