// Here you can add other styles

body:not(.top-nav) {

    .sidebar {

        ul.nav {
            width: $sidebar-width - 16px !important;
        }
    }
}

body.app-signed-in {
  background-image: url('/images/body_bg_02.png');
}

body.app-signed-out {
  background-image: url('/images/body_bg_02.png');

  .logo-text {
    height: 75px;
  }
}

.img-thumbnail .form-control {
  border: none;
  border-radius: 0;
  background-color: $thumbnail-border-color;
}

.img-thumbnail-with-form-control {
  padding: 0;
}

.btn {
  cursor: pointer;
}

label {
  font-weight: bold;
}

.avatar-list {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 50px;
    margin: 0 1rem 1rem 0;
  }
}

form.link {
  display: inline;
}

.blog-post-title {
  font-family: 'Pirata One', cursive;
}

.comment-author-avatar {
  height: 25px;
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}

.sender-avatar {
  height: 35px;
}

.conversation {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

  .message {
    border-bottom: 1px dotted $gray-lighter;
    display: flex;
    padding-top: 1rem;
  }

  .sender-avatar {
    margin-right: 1rem;
  }

  .message-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .message-content {
    width: 100%;
  }

  .message-timestamp {
    color: $gray-light;
  }

  .message-me {
    flex-direction: row-reverse;

    .sender-avatar {
      margin-left: 1rem;
    }

    .message-header {
      flex-direction: row-reverse;
    }
  }
}
