<div class="card">
  <div class="card-header">
    <%= gettext "Edit Blog Post" %>
  </div>
  <%= render "form.html", changeset: @changeset,
                          action: blog_post_path(@conn, :update, @blog_post) %>
</div>
