<div class="card">
  <div class="card-header">
    <%= gettext "Blog Posts" %>
    <%= link to: blog_post_path(@conn, :new), class: "btn btn-primary btn-sm float-right" do %>
      <i class="fa fa-plus"></i>
      <%= gettext("New Blog Post") %>
    <% end %>
  </div>
  <div class="card-block">
    <%= for blog_post <- @blog_posts do %>
      <%= render "list_entry.html", conn: @conn, blog_post: blog_post %>
    <% end %>
    <%= lpaginate @conn, @pagination %>
  </div>
</div>
