<blockquote class="blockquote">
  <p class="mb-0">
    <%= link @blog_post.title, to: public_profile_blog_post_path(@conn, :show, @blog_post.user, @blog_post) %>
  </p>
  <footer class="blockquote-footer">
    <%= link @blog_post.user.username, to: public_profile_path(@conn, :show, @blog_post.user.id) %>
    -
    <%= time_ago_in_words @blog_post.inserted_at %>
    <br><%= visitor_count_badge @conn, @blog_post %>
  </footer>
</blockquote>
