<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link gettext("Event calendar"), to: calendar_event_path(@conn, :index) %></li>
  <li class="breadcrumb-item active"><%= @calendar_event.title %></li>
</ol>

<div class="row">
  <div class="col-xl">
    <%= render "_calendar_event.html", calendar_event: @calendar_event, conn: @conn %>
  </div>
  <div class="col-xl">
    <%= HelheimWeb.CommentView.render_comments @conn, @comments, @calendar_event %>
  </div>
</div>
