<%= render "alert.html", alert_msg: get_flash(@conn, :success), alert_type: "success" %>
<%= render "alert.html", alert_msg: get_flash(@conn, :info), alert_type: "info" %>
<%= render "alert.html", alert_msg: get_flash(@conn, :warning), alert_type: "warning" %>
<%= render "alert.html", alert_msg: get_flash(@conn, :error), alert_type: "danger" %>
