<%= if @alert_msg do %>
  <div class="alert alert-<%= @alert_type %> alert-dismissible mt-1" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= @alert_msg %>
  </div>
<% end %>
