<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <meta name='env' content="<%= Application.fetch_env!(:helheim, :env) %>">
    <meta name='user_id' content="<%= Guardian.Plug.current_resource(@conn).id %>">
    <meta name='guardian_token' content="<%= Guardian.Plug.current_token(@conn) %>">
    <meta name='notification_sound' content="<%= static_path(@conn, Helheim.NotificationSounds.file(current_resource(@conn).notification_sound)) %>">
    <meta name='mute_notifications' content="<%= current_resource(@conn).mute_notifications %>">
    <%= csrf_meta_tag() %>

    <meta name="base-url" content="<%= HelheimWeb.Endpoint.url %>">

    <title><%= gettext("Helheim") %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Pirata+One|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
  </head>

  <body class="app app-signed-in header-fixed sidebar-nav" data-csrf="<%= Phoenix.Controller.get_csrf_token() %>">
    <%= render "header.html", conn: @conn %>

    <div class="app-body">
      <%= render "sidebar.html", conn: @conn %>

      <!-- Main content -->
      <main class="main">
        <div class="container-fluid">
          <%= render "alerts.html", conn: @conn %>
          <%= @inner_content %>
        </div>
        <!-- /.conainer-fluid -->
      </main>

    </div>

    <%= render_existing view_module(@conn), "scripts.html", assigns %>
    <script src="//cloud.tinymce.com/stable/tinymce.min.js?apiKey=qm4hmp6umu1xldkbq8nkvayb455wevb3mu6gpydobmdwozxo"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor_js/jquery-3.6.0.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor_js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor_js/jquery.form.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/vendor_js/dropzone.min.js") %>"></script>
    <script>App.run()</script>
  </body>
</html>
