<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-block">
        <strong><%= gettext "Excellent!" %></strong> <%= gettext "Before we can let you in, you need to confirm your e-mail address. Please check your inbox for further instructions..." %>
      </div>
    </div>
  </div>
</div>
