<div class="card mx-2">
  <div class="card-block p-2">
    <h1><%= gettext "You are now signed in" %></h1>
    <p>
      <%= gettext "Unfortunately we're not quite ready to open the doors fully yet." %>
    </p>
    <%= link gettext("Sign Out"), to: session_path(@conn, :delete, :access), method: :delete, class: "btn btn-outline-danger btn-block" %>
  </div>
</div>
