<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="card mx-2">
      <div class="card-block p-2">
        <h1>You are now signed in</h1>
        <p>
          Unfortunately we're not quite ready to open the doors fully yet.
          Check back in a couple of weeks :)
        </p>
        <%= link gettext("Sign out"), to: session_path(@conn, :delete, :access), method: :delete, class: "btn btn-outline-danger btn-block" %>
      </div>
    </div>
  </div>
</div>
