<div class="card mx-2">
  <div class="card-block p-2">
    <strong><%= gettext "Excellent!" %></strong> <%= gettext "Before we can let you in, you need to confirm your e-mail address. Please check your inbox for further instructions..." %>
  </div>
</div>
